image_bateauchoisi = ThibaultPoissonAngular\src\images\saphir.png;
description_bateauchoisi = "";
nom_bateau = ""De la Brise"";

<ion-header>
  <ion-toolbar>
    <ion-title>bateaudisplay</ion-title>
    <ion-text color="primary">
      <h1> nom_bateauchoisi</h1>
    </ion-text>
    <IonImg src={image_bateauchoisi} />
    <ion-text color="primary">
      <h2> description_bateauchoisi</h2>
    </ion-text>
    <ion-text color="secondary">
      <h3> description_bateauchoisi</h3>
    </ion-text>
    
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
