image_bateauchoisi = ThibaultPoissonAngular\src\images\saphir.png;
description_bateauchoisi = "Qu'il est chaud le soleil Quand nous sommes en vacances Y a d' la joie, des hirondelles C'est le sud de la France Papa bricole au garage Maman lit dans la chaise longue Dans ce joli paysage Moi, je me balade en tongs Que de bonheur! Que de bonheur!";
nom_bateau = ""De la Brise"";

<ion-header>
  <ion-toolbar>
    <ion-title>bateaudisplay</ion-title>
    <ion-text color="primary">
      <h1> nom_bateauchoisi</h1>
    </ion-text>
    <IonImg src={image_bateauchoisi} />
    <ion-text color="primary">
      <h2> description_bateauchoisi</h2>
    </ion-text>
    <ion-text color="secondary">
      <h3> description_bateauchoisi</h3>
    </ion-text>
    
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
