<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Nos bateaux partenaires
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-title>Nos bateaux partenaires </ion-title>
  <ion-text> Tout les eaux mènent a Thibault</ion-text>
  <ion-text> 06.63.99.99.78 </ion-text>
  <ion-text> lebateaudethibault@gmail.com </ion-text>
  <ion-text> www.facebook.com/lebateaudethibault</ion-text>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-col width-50 *ngFor="let row of row1">
          <ion-button expand="full" size="default" color="light" (click)="goToBateauDescription(row)">{{row}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50 *ngFor="let row of row2">
          <ion-button expand="full" size="default" color="light" (click)="goToBateauDescription(row)">{{row}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50 *ngFor="let row of row3">
          <ion-button expand="full" size="default" color="light" (click)="goToBateauDescription(row)">{{row}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
