<ion-header>
  <ion-toolbar>
    <ion-row>
      <button ion-button icon-only menuToggle>
        <ion-icon name="home" class="home-icon" start (click)="redirectHome()"></ion-icon>
      </button>
      <ion-title>produits</ion-title>
      <button ion-button icon-only menuToggle (click)="redirect()">
        <ion-icon name="cart" class="cart-icon" end></ion-icon>
      </button>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background-image">
  <ion-title>Choissiez vos produits</ion-title>
  <ion-list>
    <ion-item *ngFor="let item of productsCategories | keyvalue" button (click)="filterData(item.value)">
        <ion-img *ngIf="item" style="width: 5%" src="assets/icon/poulpe.png" item-start></ion-img>
        <ion-label  *ngIf="item"  item-end> {{item.value}} </ion-label>
     </ion-item>
  </ion-list>
</ion-content>
