<ion-content color="medium">
  <ion-item>
    <ion-label>Choissisez la quantité</ion-label>
    <ion-button size="small" end (click)="closeModal(0,'ignore')"> Fermer </ion-button>
  </ion-item>
  <ion-list *ngFor="let number of quantityList">
    <ion-item (click)="setNumber(number)">
     {{number}}
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-button size="medium" color="success" (click)="closeModal(productNumber,'add')">
      Ajouter {{productNumber}}
    </ion-button>
    <ion-button size="medium" color="danger" (click)="closeModal(productNumber,'delete')">
      Enlever {{productNumber}}
    </ion-button>
  </ion-list>
</ion-content>
