<ion-content class="background-image">
  <div class="text-title">
    <ion-text>{{bateauName}}</ion-text>
  </div>
  <div class="image-description">
    <ion-img [src] = "urlImage" class="image"></ion-img>
  </div>
  <div class="text-description">
  <ion-text style="margin-top: 50px; margin-bottom: 50px; font-size: 32px;"> XXXYYYZZZ <br/></ion-text>
    <div style="margin-top: 50px;">
      <ion-text> Qu'il est chaud le soleil <br/></ion-text>
      <ion-text> Quand nous sommes en vacances  <br/></ion-text>
      <ion-text> Il y a de la joie, des hirondelles <br/></ion-text>
      <ion-text> C'est le sud de la France <br/></ion-text>
      <ion-text> Papa bricole au garage <br/></ion-text>
      <ion-text> Maman lit dans la meme chaise longue <br/></ion-text>
      <ion-text> Dans ce joli paysage <br/></ion-text>
      <ion-text> Moi je me balade en tongue <br/></ion-text>
    </div>
    <div style="margin-top: 50px;">
      <ion-text> Que du bonheur! <br/></ion-text>
      <ion-text> Que du bonheur! <br/></ion-text>
    </div>
  </div>
</ion-content>
