<ion-header>
  <ion-toolbar>
    <ion-title>
      {{restaurantName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <img [src] = "urlImage" style="width: 600px;height: 400px;">
  <ion-text> XXXYYYZZZ </ion-text>
  <ion-text> Qu'il est chaud le soleil </ion-text>
  <ion-text> Quand nous sommes en vacances  </ion-text>
  <ion-text> Il y a de la joie, des hirondelles </ion-text>
  <ion-text> C'est le sud de la France </ion-text>
  <ion-text> Papa bricole au garage </ion-text>
  <ion-text> Maman lit dans la meme chaise longue </ion-text>
  <ion-text> Dans ce joli paysage </ion-text>
  <ion-text> Moi je me balade en tongue </ion-text>
  <ion-text> </ion-text>
  <ion-text> Que du bonheur! </ion-text>
  <ion-text> Que du bonheur! </ion-text>
</ion-content>
