<ion-content class="background-image">
  <div id="container">
    <div class="title">
      <ion-text class="text-title" style="margin-top: 100px">Le bateau de Thibault</ion-text>
    </div>
    <div class="text-description">
      <ion-text><strong>Vente en direct de notre bateau <br/>
          Produits selon la saison, Livraisons sur Paris<br/></strong></ion-text>
      <ion-text>06.63.99.99.78 <br/>
      lebateaudethibault@gmail.com <br/>
      www.facebook.com/lebateaudethibault</ion-text>
    </div>
    <ion-grid>
      <ion-col>
        <ion-row>
          <ion-col width-50>
            <ion-button class="row-button" (click)="goToPath('Produits')">
              <ion-img class="icon" src="../../assets/poisson.png"></ion-img>
              <ion-text class="text-name">Produits</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="row-button" (click)="goToPath('Bateau')">
              <ion-img class="icon" src="../../assets/ancre.png"></ion-img>
              <ion-text class="text-name">Bateau</ion-text>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="row-button" (click)="goToPath('Restaurant')">
              <ion-img class="icon" src="../../assets/restaurant.png"></ion-img>
              <ion-text class="text-name">Restaurant</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50>
            <ion-button class="row-button" (click)="goToPath('Recettes')">
              <ion-img class="icon" src="../../assets/recette.png"></ion-img>
              <ion-text class="text-name">Recettes</ion-text>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="row-button" (click)="goToPath('Contacte')">
              <ion-img class="icon" src="../../assets/recettes/tourteau_icon.png"></ion-img>
              <ion-text class="text-name">Contacte</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-grid>
  </div>
</ion-content>
