<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Page d'accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Page d'accueil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-col>
        <ion-row *ngFor="let row of row1">
          <ion-col width-50>
            <ion-button expand="full" size="default" color="light" (click)="goToPath(row)">{{row}}</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50 *ngFor="let row of row2">
            <ion-button expand="full" size="default" color="light" (click)="goToPath(row)">{{row}}</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50 *ngFor="let row of row3">
            <ion-button expand="full" size="default" color="light" (click)="goToPath(row)">{{row}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-grid>
  </div>
</ion-content>
