<ion-header>
  <ion-toolbar>
    <ion-row>
      <button ion-button icon-only menuToggle>
        <ion-icon name="home" class="home-icon" start (click)="redirectHome()"></ion-icon>
      </button>
      <ion-title>produits</ion-title>
      <button ion-button icon-only menuToggle (click)="redirect()">
        <ion-icon name="cart" class="cart-icon" end></ion-icon>
      </button>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background-image">
  <ion-title>Choisissez vos produits</ion-title>
  <ion-grid>
    <ion-list  width-50>
      <ion-item *ngFor="let item of productList | keyvalue " button (click)="manageItems(item.value)">
          <ion-img *ngIf="item.value.name" style="width: 5%" src="assets/icon/poulpe.png" item-start></ion-img>
          <ion-label *ngIf="item.value.name"  item-end> {{item.value.name}} </ion-label>
          <ion-label *ngIf="item.value.name"  item-end> Nombre: {{getCounter(item.value.id)}} </ion-label>
          <ion-label *ngIf="item.value.name"  item-end> Prix: {{item.value.price}} €</ion-label>
       </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>